.categories {
    margin-bottom: 1em;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #293241;
    align-items: center;
    gap: 1rem;
    color: white;
}

button {
    height: 35px;
    width: 150px;
    background-color: #e0fbfc;
    color: black;
    font-size: medium;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
    cursor: pointer;
}

button:hover {
    opacity: initial;
}

button:active {
    background-color: green;
}

.current {
    opacity: initial;
    background-color: white;
}